extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}

  .row
    each course in courses
      .col-12.col-md-4
        .card
          .card-block
            img(src=course.bgImage style='width:100%')
            h4
              a(href='/course')= course.name
              +outputRating(course.rating)
              span.badge.badge-pill.badge-default.float-right= course.distance
            p.description= course.description
            a.btn.btn-outline-info(type="button" href="/course") read more 


    .col-12
      p.lead= sidebar